// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import compiled CSS from Mix
@import '../css/app.css';

body{
    width: 100vw;
    height: 100vh;

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%,
        rgba(205,205,205,1) 1%, rgba(42,33,153,1) 100%
    );
}
